doctype html
head
  title Travel Experts
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  // main css
  //link(href='/css/main.css' rel='stylesheet')
  // my js
  script(src='/js/main.js')
  
  form#f1(name='register' method='post' action='/post/create' onsubmit='return validateForm()')  

    center
      br
      br
      br
      br
      br
      br
      br
      br
      if errors
            ul
              each error in errors
                if (error.toString().includes("Error, expected `CustEmail` to be unique") || error.toString().includes("This Login Email already exists. Please Login by your email and password."))
                
                  li.alert.alert-danger.m3 This Login Email already exists. Please Login by your email and password. Or use a new Email!
                  a(href="/")  Login
                else
                  
                  li.alert.alert-danger.m3= error 

      section(style='align-items: center;')
        br
        br
        br
        br
        fieldset#myFieldSet
          legend.fontclass(style='color:white') Register your account

          
  

          table.fontclass(border='0')
            tr
              td(style='width: 30px;')
                label First Name*:
              td
                input#txtFirstName(type='text' name='firstname' value=postdata && postdata.firstname)
                span#nameDescription
                span#blankMsgName(style='color:red')  
            tr
              td(style='width: 30px;')
                label Last Name*:
              td
                input#txtLastName(type='text' name='lastname' value=postdata && postdata.lastname)
                span#lNameDescription
                span#blankMsgLName(style='color:red')  
            tr
              td(style='width: 30px;')
                label Password*:
              td
                input#txtPassword(type='password' name='password' value=postdata && postdata.password)
                span#pNameDescription
                span#blankMsgPName(style='color:red')  
            tr
              td(style='width: 30px;')
                label Confirm Password*:
              td
                input#txtConfirmPassword(type='password' name='confirmpassword' value=postdata && postdata.confirmpassword)
                span#blankMsgPConfirmName(style='color:red')  
                span#pConfirmNameDescription(style='color:red')  
            tr
              td(style='width: 30px;')
                label Email Address/UserName*:
              td
                input#txtEmail(type='text' required='true' name='email' value=postdata && postdata.email)
                span#blankMsgEmail(style='color:red')  
                span#EmailDescription(style='color:red')  
            tr
              td(style='width: 30px;')
                label Address:
              td
                input#txtAddress(type='text' name='address' value=postdata && postdata.address)
            tr
              td(style='width: 30px;')
                label City:
              td
                input#txtCity(type='text' name='city' value=postdata && postdata.city)
            tr
              td(style='width: 30px;')
                label Province:
              td
                input#txtProvince(type='text' name='province' value=postdata && postdata.province)
            tr
              td(style='width: 30px;')
                label PostalCode:
              td
                input#txtPostalCode(type='text' name='postalcode' value=postdata && postdata.postalcode)
                span#blankMsgPostal(style='color:red')  
                span#postalDescription(style='color:red')  
            tr
              td(style='width: 30px;')
                label Country:
              td
                input#txtCountry(type='text' name='country' value=postdata && postdata.country)  
            tr
              td(style='width: 30px;')
                label HomePhone:
              td
                input#txtHomePhone(type='text' name='homephone' value=postdata && postdata.homephone)  
            tr
              td(style='width: 30px;')
                label Business Phone:
              td
                input#txtBusPhone(type='text' name='businessphone' value=postdata && postdata.businessphone)    
            //- tr
            //-   td(style='width: 30px;')
            //-     label Agent ID:
            //-   td
            //-     input#txtAgentId(type='text' name='agentid')        
        
            tr
              td
                input(type='submit' name='butSubmit' value='SUMBIT' onclick="return confirm('Do you want to submit the form?')")
              td
                input(type='reset' name='butReset' value='RESET' onclick="return confirm('Do you want to reset the form?')")
  div(style='clear: both;')
  br
  br

  
  //script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM' crossorigin='anonymous')
  script.
    //This section is for display the guide messages when user is going to enter data in the input fields. And user is going to type message will disapear.
    //display message for firstname.
    document.getElementById("txtFirstName").onfocus = function () { displayDescription() };
    function displayDescription() {
    document.getElementById("blankMsgName").innerText = null;
    var nameDes = document.getElementById("nameDescription");
    nameDes.innerText = null;
    var firstName = document.getElementById("txtFirstName");
    // firstName.focus();
    var nameDes = document.getElementById("nameDescription");
    nameDes.style = "background-color:red; color: white";
    nameDes.innerText = "Enter Alphabetical Characters here.";
    document.getElementById("txtFirstName").onkeypress = function () { disapearIncorrectNameMessage(); }
    }
    function disapearIncorrectNameMessage() {
    document.getElementById("blankMsgName").innerText = null;
    var nameDes = document.getElementById("nameDescription");
    nameDes.innerText = null;
    }
    //end dispaly message for first name
    //last name
    document.getElementById("txtLastName").onfocus = function () { displayDescriptionLastName() };
    function displayDescriptionLastName() {
    document.getElementById("blankMsgLName").innerText = null;
    var nameDesl = document.getElementById("lNameDescription");
    nameDesl.innerText = null;
    var LastName = document.getElementById("txtLastName");
    // firstName.focus();
    var nameDesl = document.getElementById("lNameDescription");
    nameDesl.style = "background-color:red; color: white";
    nameDesl.innerText = "Enter Alphabetical Characters here.";
    document.getElementById("txtLastName").onkeypress = function () { disapearIncorrectLastNameMessage(); }
    }
    function disapearIncorrectLastNameMessage() {
    document.getElementById("blankMsgLName").innerText = null;
    var nameDes = document.getElementById("lNameDescription");
    nameDes.innerText = null;
    }
    //password description
    document.getElementById("txtPassword").onfocus = function () { displayDescriptionPassword() };//dispalay description
    // Display the description of how to enter password.
    function displayDescriptionPassword() {
    document.getElementById("blankMsgPName").innerText = null;//set error message span to null. Otherwise displays
    //both same time.
    var nameDesl = document.getElementById("pNameDescription");//get the span to display password description.
    nameDesl.innerText = null;
    nameDesl.style = "background-color:red; color: white"; // set the span description colors
    myField = document.getElementById("myFieldSet"); // get the fieldset
    var height = document.getElementById('myFieldSet').offsetHeight; // get the fieldset height.
    myField.style.height = (height + 70) + "px"; // increase the field set height to display the message propely.
    nameDesl.innerText = "Minimum length 8 Maximum 15 characters long. Combination of characters and numbers including _,#";
    document.getElementById("txtPassword").onkeypress = function () { disapearIncorrectPasswordMessage(); }//when
    // user is going to enter values it disapear the guide description.
    }
    function disapearIncorrectPasswordMessage() { // disapear the message.
    document.getElementById("blankMsgPName").innerText = null;
    var nameDes = document.getElementById("pNameDescription");
    nameDes.innerText = null;
    }
    //confirm password
    document.getElementById("txtConfirmPassword").onfocus = function () { displayDescriptionConfirmPassword() };
    function displayDescriptionConfirmPassword() {
    document.getElementById("blankMsgPConfirmName").innerText = null;
    var nameDesl = document.getElementById("pConfirmNameDescription");
    nameDesl.innerText = null;
    var LastName = document.getElementById("txtConfirmPassword");
    // firstName.focus();
    var nameDesl = document.getElementById("pConfirmNameDescription");
    nameDesl.style = "background-color:red; color: white";
    myField = document.getElementById("myFieldSet");
    var height = document.getElementById('myFieldSet').offsetHeight;
    myField.style.height = (height + 70) + "px";
    nameDesl.innerText = "Must be Same as Password.Minimum length 8 and Maximum 15 characters long.";
    document.getElementById("txtConfirmPassword").onkeypress = function () { disapearIncorrectConfirmPasswordMessage(); }
    }
    function disapearIncorrectConfirmPasswordMessage() {
    document.getElementById("blankMsgPConfirmName").innerText = null;
    var nameDes = document.getElementById("pConfirmNameDescription");
    nameDes.innerText = null;
    }
    //confirm Email
    document.getElementById("txtEmail").onfocus = function () { displayDescriptionEmail() };
    function displayDescriptionEmail() {
    document.getElementById("blankMsgEmail").innerText = null;
    var nameDesl = document.getElementById("EmailDescription");
    nameDesl.innerText = null;
    var LastName = document.getElementById("txtEmail");
    var nameDesl = document.getElementById("EmailDescription");
    nameDesl.style = "background-color:red; color: white";
    nameDesl.innerText = "Enter Valid Email WIth @ and . ";
    document.getElementById("txtEmail").onkeypress = function () { disapearIncorrectEmailMessage(); }
    }
    function disapearIncorrectEmailMessage() {
    document.getElementById("blankMsgEmail").innerText = null;
    var nameDes = document.getElementById("EmailDescription");
    nameDes.innerText = null;
    }
    //Postal Code
    document.getElementById("txtPostalCode").onfocus = function () { displayDescriptionPostalCode(); }
    function displayDescriptionPostalCode() {
    document.getElementById("blankMsgPostal").innerText = null;
    var nameDesl = document.getElementById("postalDescription");
    nameDesl.innerText = null;
    var postalCode = document.getElementById("txtPostalCode");
    var nameDesl = document.getElementById("postalDescription");
    nameDesl.style = "background-color:red; color: white";
    nameDesl.innerText = "Enter Valid Postal code. eg:- A2X3R5,A2X 3R5,a2x2r5 ";
    document.getElementById("txtPostalCode").onkeypress = function () { disapearIncorrectPostalMessage(); }
    }
    function disapearIncorrectPostalMessage() {
    document.getElementById("blankMsgPostal").innerText = null;
    var nameDes = document.getElementById("postalDescription");
    nameDes.innerText = null;
    }
  